<mat-card class="create-token-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form-container">

    <mat-form-field appearance="fill" style="text-align: center">
      <mat-label>Network</mat-label>
      <mat-select #matRef (selectionChange)="networkSelectChange($event)" [(value)]="currentNetwork"
                  panelClass="my-select-panel-class">
        <mat-select-trigger>
          <img style="width: 25px; height: 25px" [src]="networks[currentNetwork].image">
          <span
            style="margin-left: 5px !important; font-weight: bold; color: white">{{networks[currentNetwork].name}}</span>
        </mat-select-trigger>
        <mat-option *ngFor="let network of networks" [value]="network.index">
          <img style="width: 25px; height: 25px;" [src]="network.image"> <span
          style="margin-left: 5px !important; font-weight: bold">{{network.name}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Token Name <span style="color: #ff3030">*</span></mat-label>
      <input matInput maxlength="30" placeholder="e.g. My Token" formControlName="tokenName">
      <mat-hint class="mat-hints">
        <mat-icon>info</mat-icon>
        Symbol of your token
      </mat-hint>
      <mat-error *ngIf="!formGroup.controls['tokenName'].valid && formGroup.controls['tokenName'].touched">
        Token name is required
      </mat-error>
    </mat-form-field>
    <div style="height: 15px"></div>
    <mat-form-field appearance="outline">
      <mat-label>Token Symbol <span style="color: #ff3030">*</span></mat-label>
      <input [disabled]="account === undefined" matInput maxlength="10" placeholder="e.g. MTKN"
             formControlName="tokenSymbol">
      <mat-hint class="mat-hints">
        <mat-icon>info</mat-icon>
        Symbol of your token
      </mat-hint>
      <mat-error
        *ngIf="!formGroup.controls['tokenSymbol'].valid && formGroup.controls['tokenSymbol'].touched">
        This field required
      </mat-error>
    </mat-form-field>
    <div style="height: 15px"></div>

    <mat-form-field appearance="outline">
      <mat-label>Token Supply <span style="color: #ff3030">*</span></mat-label>
      <input matInput appTwoDigitDecimaNumber maxlength="16" placeholder="e.g. 100000000000"
             formControlName="tokenSupply"
             (keydown)="numberFieldKeydown($event, 1000000000000000, 'tokenSupply')">
      <mat-hint class="mat-hints">
        <mat-icon>info</mat-icon>
        Enter the total supply
      </mat-hint>
      <mat-error
        *ngIf="!formGroup.controls['tokenSupply'].valid && formGroup.controls['tokenSupply'].touched">
        This field required
      </mat-error>
    </mat-form-field>
    <div style="height: 15px"></div>

    <mat-form-field appearance="outline">
      <mat-label>Decimals <span style="color: #ff3030">*</span></mat-label>
      <input matInput maxlength="2" placeholder="e.g. 18" formControlName="tokenDecimals"
             (keyup)="numberFieldKeyup($event, 18, 'tokenDecimals')"
             (keydown)="numberFieldKeydown($event, 18, 'tokenDecimals')">
      <mat-hint class="mat-hints">
        <mat-icon>info</mat-icon>
        Enter the decimal precision (1-18)
      </mat-hint>
      <mat-error
        *ngIf="!formGroup.controls['tokenDecimals'].valid && formGroup.controls['tokenDecimals'].touched">
        This field required
      </mat-error>
    </mat-form-field>
    <div style="height: 15px"></div>
    <div style="margin: auto">
      <mat-slide-toggle (change)="onSwitchChange($event)"><span class="mx-auto" style="color: white">Show advanced
                    settings</span></mat-slide-toggle>
    </div>
    <div style="height: 15px"></div>

    <ng-container *ngIf="showAdvancedSettings">
      <mat-form-field appearance="outline">
        <mat-label>Tx Fee % to Holders</mat-label>
        <input matInput maxlength="2" placeholder="e.g. 5" formControlName="TxFeePercentToHolders"
               (keyup)="numberFieldKeyup($event, 10, 'TxFeePercentToHolders')"
               (keydown)="numberFieldKeydown($event, 10, 'TxFeePercentToHolders')">
        <mat-error
          *ngIf="!formGroup.controls['TxFeePercentToHolders'].valid && formGroup.controls['TxFeePercentToHolders'].touched">
          This field required
        </mat-error>
        <mat-hint class="mat-hints">
          <mat-icon>info</mat-icon>
          Enter the transaction fee % that would be distributed to holders (0-10)
        </mat-hint>
      </mat-form-field>
      <div style="height: 15px"></div>

      <mat-form-field appearance="outline">
        <mat-label>Tx Fee % to LP</mat-label>
        <input matInput maxlength="2" placeholder="e.g. 5" formControlName="TxFeePercentToLP"
               (keyup)="numberFieldKeyup($event, 10, 'TxFeePercentToLP')"
               (keydown)="numberFieldKeydown($event, 10, 'TxFeePercentToLP')">
        <mat-error
          *ngIf="!formGroup.controls['TxFeePercentToLP'].valid && formGroup.controls['TxFeePercentToLP'].touched">
          This field required
        </mat-error>
        <mat-hint class="mat-hints">
          <mat-icon>info</mat-icon>
          Enter the transaction fee % that would be used to add liquidity (0-10)
        </mat-hint>
      </mat-form-field>
      <div style="height: 15px"></div>

      <mat-form-field appearance="outline">
        <mat-label>Tx Fee % Burned</mat-label>
        <input matInput maxlength="2" placeholder="e.g. 5" formControlName="TxFeePercentToBurned"
               (keyup)="numberFieldKeyup($event, 10, 'TxFeePercentToBurned')"
               (keydown)="numberFieldKeydown($event, 10, 'TxFeePercentToBurned')">
        <mat-error
          *ngIf="!formGroup.controls['TxFeePercentToBurned'].valid && formGroup.controls['TxFeePercentToBurned'].touched">
          This field required
        </mat-error>
        <mat-hint class="mat-hints">
          <mat-icon>info</mat-icon>
          Enter the transaction fee % that would be burned (0-10)
        </mat-hint>
      </mat-form-field>
      <div style="height: 15px"></div>

      <mat-form-field appearance="outline">
        <mat-label>Tx Fee % to Wallet</mat-label>
        <input matInput maxlength="2" placeholder="e.g. 5" formControlName="TxFeePercentToWallet"
               (keyup)="numberFieldKeyup($event, 10, 'TxFeePercentToWallet')"
               (keydown)="numberFieldKeydown($event, 10, 'TxFeePercentToWallet')">
        <mat-error
          *ngIf="!formGroup.controls['TxFeePercentToWallet'].valid && formGroup.controls['TxFeePercentToWallet'].touched">
          This field required
        </mat-error>
        <mat-hint class="mat-hints">
          <mat-icon>info</mat-icon>
          Enter the transaction fee % that would be sent to a marketing or charity wallet (0-10)
        </mat-hint>
      </mat-form-field>
      <div style="height: 15px"></div>

      <mat-form-field appearance="outline">
        <mat-label>Wallet address for above Tx Fee</mat-label>
        <input matInput maxlength="42" placeholder="e.g. 0xB06a4327FF7dB3D82b51bbD692063E9a180b79D9"
               formControlName="FeeReceiverWallet">
        <mat-error
          *ngIf="!formGroup.controls['FeeReceiverWallet'].valid && formGroup.controls['FeeReceiverWallet'].touched">
          This field required
        </mat-error>
        <mat-hint class="mat-hints">
          <mat-icon>info</mat-icon>
          Enter the wallet address
        </mat-hint>
      </mat-form-field>
      <div style="height: 15px"></div>

      <mat-form-field appearance="outline">
        <mat-label>Tx Fee % to Buyback Tokens</mat-label>
        <input matInput maxlength="2" placeholder="e.g. 5" formControlName="TxFeePercentToBuybackTokens"
               (keyup)="numberFieldKeyup($event, 10, 'TxFeePercentToBuybackTokens')"
               (keydown)="numberFieldKeydown($event, 10, 'TxFeePercentToBuybackTokens')">
        <mat-error
          *ngIf="!formGroup.controls['TxFeePercentToBuybackTokens'].valid && formGroup.controls['TxFeePercentToBuybackTokens'].touched">
          This field required
        </mat-error>
        <mat-hint class="mat-hints">
          <mat-icon>info</mat-icon>
          Enter the transaction fee % that would be used to buyback tokens on sell (Hyper-deflation) (0-10)
        </mat-hint>
      </mat-form-field>
      <div style="height: 15px"></div>

      <mat-form-field appearance="outline">
        <mat-label>Max Wallet % :</mat-label>
        <input matInput maxlength="3" placeholder="e.g. 5" formControlName="MaxWalletPercent"
               (keyup)="numberFieldKeyup($event, 100, 'MaxWalletPercent')"
               (keydown)="numberFieldKeydown($event, 100, 'MaxWalletPercent')">
        <mat-error
          *ngIf="!formGroup.controls['MaxWalletPercent'].valid && formGroup.controls['MaxWalletPercent'].touched">
          This field required
        </mat-error>
        <mat-hint class="mat-hints">
          <mat-icon>info</mat-icon>
          Enter the maximum supply % that a wallet can hold (1-100). Anti-Whale mechanics
        </mat-hint>
      </mat-form-field>
      <div style="height: 15px"></div>

      <mat-form-field appearance="outline">
        <mat-label>Max Transaction %</mat-label>
        <input matInput maxlength="3" placeholder="e.g. 5" formControlName="MaxTxPercent"
               (keyup)="numberFieldKeyup($event, 100, 'MaxTxPercent')"
               (keydown)="numberFieldKeydown($event, 100, 'MaxTxPercent')">
        <mat-error
          *ngIf="!formGroup.controls['MaxTxPercent'].valid && formGroup.controls['MaxTxPercent'].touched">
          This field required
        </mat-error>
        <mat-hint class="mat-hints">
          <mat-icon>info</mat-icon>
          Enter the maximum transaction allowed as % of supply (1-100). Anti-Whale mechanics
        </mat-hint>
      </mat-form-field>
    </ng-container>
    <div style="height: 15px"></div>

    <div style="width: 100%">
      <button class="create-tokenButton" [disabled]="isLoading" id="submit-button" color="primary" type="submit" mat-raised-button><span
        *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
        <angular-emojis *ngIf="!isLoading && !this.createdTokenAddress" [name]="'rocket'" size="25">
        </angular-emojis>
        <span class="button-label">{{createButtonLabel}}</span>
      </button>
    </div>

    <div style="height: 15px" *ngIf="this.createdTokenAddress.length > 0"></div>
    <span *ngIf="this.createdTokenAddress.length > 0" style="color: #39C0ED">
      Token created successfully
                <a target="_blank"
                   [href]="'https://testnet.bscscan.com/address/'+this.createdTokenAddress">https://testnet.bscscan.com/token/{{this.createdTokenAddress}}</a>
              </span>
    <span *ngIf="this.createdTokenAddress.length > 0 && this.tokenVerified === false" style="color: #39C0ED">
                <span class="spinner-border spinner-border-sm mr-1" style="color: #39C0ED"></span>
                Verifying token
              </span>


    <span *ngIf="this.createdTokenAddress.length > 0 && this.tokenVerified === true" style="color: #39C0ED">
               Success
              </span>

    <br *ngIf="tokenVerified">

    <button *ngIf="tokenVerified" (click)="addTokenToMetamask()" color="primary" type="button"
            mat-raised-button>
      <fa-icon *ngIf="tokenVerified && tokenAddedToMetamask" ></fa-icon>
      {{addToMetamaskButtonLabel}}
    </button>

    <!--
    <a target="_blank" *ngIf="createdTokenAddress && createdTokenAddress.length > 0" class="bnt"
       [href]="'https://pancakeswap.finance/add/BNB/'+ this.createdTokenAddress" [disabled]="isLoading"
       color="primary" type="button" mat-raised-button>
      Add liquidity
    </a>
    -->
    <br *ngIf="tokenVerified">
  </form>
</mat-card>
