<mat-toolbar color="primary">
  <span class="example-spacer"><a style="text-decoration: none" routerLink="/token-generator" routerLinkActive="active">Token Generator</a></span>
  <span class="example-spacer"><a style="text-decoration: none" routerLink="/token-generator" routerLinkActive="active">Bridge</a></span>
  <span class="example-spacer"><a style="text-decoration: none" routerLink="/token-generator" routerLinkActive="active">Bridge</a></span>
  <button color="primary" type="button" mat-raised-button
          (click)="connectWeb3()">{{buttonLabel}}</button>
</mat-toolbar>
<router-outlet></router-outlet>
