<div style="height: 25px"></div>
<mat-toolbar class="mat-custom-nav">
  <mat-toolbar-row>
    <span><img src="assets/ORIGINAL.png"/><span class="mobile-hidden"> Midas Generator</span></span>
    <span class="example-spacer"></span>
    <button class="connect-button" color="primary" type="button" mat-raised-button
            (click)="connectWeb3()">{{buttonLabel}}</button>
  </mat-toolbar-row>
</mat-toolbar>

<!-- -->

<router-outlet></router-outlet>

<br>
<footer>
  <div style="background:  #13003c; width: 100%; height: 5rem; display: flex; flex-direction: row; align-content: center; justify-content: center; justify-items: center">
    <h3 style="color: white">Midas Token Generator. © All right reserved 2021.</h3>
  </div>
</footer>