.example-spacer {
  flex: 1 1 auto;
}

.connect-button {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: #ffffff;
}

mat-label {

}

::ng-deep .mat-tab-label {
  background: #ffffff !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: bold;
  font-size: 1rem;
}

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  background: linear-gradient(-45deg, #ee7752, #ff79ab, #47cfff, #23d5ab) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: bold;
  font-size: 1.1rem;
}

/* Styles for the ink bar */
:host ::ng-deep .mat-ink-bar {
  background: linear-gradient(-45deg, #ee7752, #ff79ab, #47cfff, #23d5ab) !important;
}

::ng-deep .mat-tab-labels {
  background-color: rgba(255, 255, 255, 0);
}

:host ::ng-deep .mat-card {
  color: white;
}

:host ::ng-deep .mat-slider-horizontal {
  width: 80%;
}

:host ::ng-deep .mat-slider-track-background {
  background-color: rgba(255,255,255,.6);
}