* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body,
html {
   height: 100%;
   background: linear-gradient(
    180deg, #14003d, #100138, #0d0233, #0b022d, #080227, #050221, #03021b, #000114);
   font-family: "Montserrat", sans-serif;
   color: #fff;
}
.navbar {
  padding: 0 16px;
  margin: 0px 10px;
  height: 64px;
}
.navbar-collapse {
  justify-content: end;
}
.navbar-brand,
.navbar-brand:hover {
  color: #fff;
}

.launch-app-btn {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #fff;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
footer div {
  padding: 2vh;
}
@media screen and (max-width: 512px) {
  .mobile-hidden {
    display: none;
  }
}