.liquidity-locked {
   display: flex;
   justify-content: space-between;
}
.remove-lock-btn{
   max-height: 40px;
   margin-top: 1.5%;
}
:host ::ng-deep .mat-form-field-outline:not(:invalid) {
   color: white;
}
