<mat-card class="liquidity-form-container">
  <form [formGroup]="lockLiquidityTokenAddressInputFormGroup" class="form-container">
    <mat-form-field appearance="outline" style="width: 100% !important;">
      <mat-label>Token address</mat-label>
      <input #lockLiquidityTokenAddress (keyup)="onLockLiquidityTokenAddressKeyup()" matInput maxlength="42"
        placeholder="e.g. 0xB06a4327FF7dB3D82b51bbD692063E9a180b79D9" formControlName="lockLiquidityTokenAddress">
      <mat-error
        *ngIf="!lockLiquidityTokenAddressInputFormGroup.controls['lockLiquidityTokenAddress'].valid && lockLiquidityTokenAddressInputFormGroup.controls['lockLiquidityTokenAddress'].touched">
        This field required
      </mat-error>
    </mat-form-field>
  </form>
  <mat-card class="lock-liquidity-form-container">
    <div class="input-label">
      <span style="font-weight: bold">TOKEN</span>
      <span style="font-weight: bold">{{lpTokenBalance}}</span>
    </div>

    <div class="input-label">
      <input [(ngModel)]="lockLiquidityForm.lpAmount" appTwoDigitDecimaNumber matInput maxlength="18"
        placeholder="e.g. 1000" (keyup)="tokenInputKeyUp()">
      <button color="primary" type="button" mat-raised-button>
        Max
      </button>
    </div>
    <br>
    <mat-slider min="0" step="1"
      [disabled]="!lockLiquidityTokenAddressInputFormGroup.controls['lockLiquidityTokenAddress'].valid"
      (click)="onClickEvent(lockLiquidityTokenAddressInputFormGroup.controls.lockLiquidityTokenAddress.value)"
      thumbLabel (input)="onSlideLockLP($event)" [displayWith]="formatLabel" max="100">
    </mat-slider>
  </mat-card>
  <br>
  <mat-card class="lock-liquidity-form-container">
    <div class="input-label">
      <span style="font-weight: bold">
        <angular-emojis [name]="'clock1'" size="25"></angular-emojis> Timelock
      </span>
    </div>

    <mat-form-field>
      <input [disabled]="!lockLiquidityTokenAddressInputFormGroup.controls['lockLiquidityTokenAddress'].valid" matInput
        [matDatetimepicker]="picker" placeholder="Lock until..." (dateInput)="addEvent('input', $event)"
        (dateChange)="addEvent('change', $event)">
      <mat-datetimepicker-toggle matSuffix [for]="picker"></mat-datetimepicker-toggle>
      <mat-datetimepicker type="datetime" openOnFocus="true" #picker></mat-datetimepicker>
    </mat-form-field>

  </mat-card>
  <br>
  <div class="liquidity-form-buttons-container">
    <button *ngIf="!isAllowed" color="primary" type="button" mat-raised-button (click)="approveToken()">
      <span *ngIf="isApproving" class="spinner-border spinner-border-sm mr-1" style="color: white"></span>
      <fa-icon *ngIf="isAllowed" [icon]="approveButtonIcon"></fa-icon>
      {{approveButtonLabel}}
    </button>
    <button [disabled]="!isAllowed" color="primary" type="button" mat-raised-button (click)="lockLiquidity(this.lockLiquidityTokenAddressInputFormGroup.controls.lockLiquidityTokenAddress.value,
               this.lockLiquidityForm.locktime, lockLiquidityForm.lpAmount)">
      <angular-emojis [name]="'lock'" size="25"></angular-emojis>
      <fa-icon *ngIf="isAllowed" [icon]="approveButtonIcon"></fa-icon>
      Lock Liquidity
    </button>
  </div>
</mat-card>
<mat-card class="mt-4 mb-4 lock-liquidity-form-container" *ngIf="myLocks.length > 0">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4>My locks</h4>
      </div>
    </div>
    <div style="width: 15px"></div>
    <mat-card class="row lock-liquidity-form-container" *ngFor="let lock of myLocks" style="margin-bottom: 15px">
      <div class="col-sm liquidity-locked">
        <div>
          <h5>Locked {{lock[2] | fromWei }} {{lock['_tokenName']}} </h5>
          <p *ngIf="now < lock[3]*1000">
            <fa-icon [icon]="falock"></fa-icon> Unlocks {{lock[3]*1000 | date:'dd/MM/yyyy hh:mm'}}
          </p>
          <p *ngIf="now >= lock[3]*1000">
            <fa-icon [icon]="falockopen"></fa-icon> Unlocked now!
          </p>
        </div>
        <div>
          <ctimer-countdown-timer *ngIf="now < lock[3]*1000" [finishDateString]="lock[3]*1000"></ctimer-countdown-timer>
          <div *ngIf="now >= lock[3]*1000">
            <h6>UNLOCKED!!!</h6>
            <p>Press withdraw to get your tokens.</p>
          </div>
        </div>
        <button (click)="withdraw(lock['id'])" class="remove-lock-btn" color="warn" type="button"
          mat-raised-button>Withdraw</button>
      </div>
    </mat-card>
  </div>
</mat-card>