::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #39C0ED;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #39C0ED;
}

::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color:  white;
}

input {
  color: white;
}

mat-label {
  color: white;
}

span.mat-slide-toggle-content {
  color: white;
}

::placeholder {
  color: white;
  font-weight: normal;
}

/* centered columns styles */
.row-centered {
  text-align: center;
}

.col-centered {
  text-align: center;
}

mat-error {
  font-size: 0.9rem;
}

.mat-hints {
  color: #39C0ED;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center !important;
}

.mat-panel-title-span {
  margin: auto;
  font-size: 1.4rem;
  color: #39C0ED;
  font-weight: bold;
}

#submit-button {

  color: white;

}

/*
#submit-button:hover {
  background: linear-gradient(-45deg, #ee7752, #ff79ab, #47cfff, #23d5ab) !important;
  font-size: 1.2rem;

}

*/

.button-label {
  font-size: 1.2rem !important;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.configurator_container {
  margin: auto;
  width: 90%;
  padding: 10px;
}

.input-label {
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: row !important;
}

.lock-liquidity-form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: 10%;
  background: #2b2b2b;
  padding: 16px;
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  // border: 1px solid #BEAEE2;
}

.liquidity-form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.liquidity-form-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}

.percent-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}

mat-expansion-panel {
  background: #212121;
  border-radius: 16px !important;
}

button {
  color: white;
  font-size: 0.9rem;
  height: auto;
  width: auto;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 16px;
}

input {
  font-weight: bold !important;
}

.bnt {
  color: white;
  font-size: 0.9rem;
  height: auto;
  width: auto;
  padding: 0.2rem 1rem 0.2rem 1rem;
  border-radius: 16px;
}

mat-card {
  border-radius: 16px;
}

@keyframes scaleUpDown {
  0%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
  50%,
  90% {
    transform: scaleY(1.1);
  }
  75% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleX(0.95);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: skewX(0) scale(1);
  }
  50% {
    transform: skewX(5deg) scale(0.9);
  }
}

@keyframes particleUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100%;
    transform: scale(0.5);
  }
}

@keyframes glow {
  0%,
  100% {
    background-color: #ef5a00;
  }
  50% {
    background-color: #ff7800;
  }
}


.fire {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.fire-main {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: scaleUpDown 3s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-main .main-fire {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(farthest-corner at 10px 0, #d43300 0%, #ef5a00 95%);
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-main .particle-fire {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 10px;
  height: 10px;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-right {
  height: 100%;
  width: 100%;
  position: absolute;
  animation: shake 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-right .main-fire {
  position: absolute;
  top: 15%;
  right: -25%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-right .particle-fire {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-left {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shake 3s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-left .main-fire {
  position: absolute;
  top: 15%;
  left: -20%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-left .particle-fire {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 10%;
  height: 10%;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 3s infinite ease-out 0;
  animation-fill-mode: both;
}

.fire-bottom .main-fire {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 75%;
  height: 75%;
  background-color: #ff7800;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 100% 40%;
  filter: blur(10px);
  animation: glow 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-container {
  display: none;
}
