<div class="container mt-3">
  <div class="row" style="text-align: center;">
    <div class="col-sm">
      <h1 style="color: white" id="typewriter"></h1>
    </div>
  </div>
</div>

<div id="team" class="container text-center mt-3">
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12 mb-3">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Create Token">
          <div style="height: 15px"></div>
          <app-create-token></app-create-token>
        </mat-tab>

        <mat-tab label="Add Liquidity">
          <div style="height: 15px"></div>
          <mat-card class="liquidity-form-container">
            <form [formGroup]="tokenAddressInputFormGroup" class="form-container">
              <mat-form-field appearance="outline" style="width: 100% !important;">
                <mat-label>Token address</mat-label>
                <input (keyup)="onLiquidityTokenAddressKeyup()" matInput maxlength="42"
                       placeholder="e.g. 0xB06a4327FF7dB3D82b51bbD692063E9a180b79D9"
                       formControlName="liquidityTokenAddress">
                <mat-error
                  *ngIf="!tokenAddressInputFormGroup.controls['liquidityTokenAddress'].valid && tokenAddressInputFormGroup.controls['liquidityTokenAddress'].touched">
                  This field required
                </mat-error>
              </mat-form-field>
            </form>

            <mat-card *ngIf="lpTokenBalance !== undefined" class="glassContainer">
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h5 style="color: white">LP Token Balance {{lpTokenBalance}}</h5>
                  </div>
                  <div class="col-sm">
                    <button>Remove</button>
                  </div>
                </div>
              </div>
            </mat-card>

            <br>
            <mat-card class="lock-liquidity-form-container">
              <div class="input-label">
                <span style="font-weight: bold; color: white">BNB</span>
                <span style="font-weight: bold; color: white">{{bnbBalance}}</span>
              </div>
              <br>
              <div class="input-label">
                <input style="color: white" [(ngModel)]="addLiquidityForm.bnbAmount" appTwoDigitDecimaNumber matInput
                       maxlength="16"
                       placeholder="e.g. 1000" (keyup)="bnbInputKeyUp()">
                <button class="percentButton" (click)="setBnbPercent(25)" color="primary" type="button"
                        mat-raised-button>
                  25%
                </button>
                <div style="width: 1rem;">
                </div>
                <button class="percentButton" (click)="setBnbPercent(50)" color="primary" type="button"
                        mat-raised-button>
                  50%
                </button>
                <div style="width: 1rem;">
                </div>
                <button class="percentButton" (click)="setBnbPercent(75)" color="primary" type="button"
                        mat-raised-button>
                  75%
                </button>
                <div style="width: 1rem;">
                </div>
                <button class="percentButton" (click)="setBnbPercent(100)" color="primary" type="button"
                        mat-raised-button>
                  100%
                </button>
              </div>
              <br>
              <mat-slider min="0" step="1" thumbLabel (input)="onSlide($event)" #addLiquidityBnbSlider
                          [displayWith]="formatLabel" max="100"></mat-slider>
            </mat-card>
            <br>
            <mat-card class="lock-liquidity-form-container">
              <div class="input-label">
                <span style="font-weight: bold; color: white">TOKEN</span>
                <span style="font-weight: bold; color: white">{{tokenBalance}}</span>
              </div>
              <br>
              <div class="input-label">
                <input [(ngModel)]="addLiquidityForm.tokenAmount" appTwoDigitDecimaNumber matInput maxlength="16"
                       placeholder="e.g. 1000" (keyup)="tokenInputKeyUp()" style="color: white">
                <button [disabled]="tokenBalance === undefined || tokenBalance === 0" (click)="setTokenPercent(25)"
                        color="primary" type="button" mat-raised-button>
                  25%
                </button>
                <div style="width: 1rem;">
                </div>
                <button [disabled]="tokenBalance === undefined || tokenBalance === 0" (click)="setTokenPercent(50)"
                        color="primary" type="button" mat-raised-button>
                  50%
                </button>
                <div style="width: 1rem;">
                </div>
                <button [disabled]="tokenBalance === undefined  || tokenBalance === 0" (click)="setTokenPercent(75)"
                        color="primary" type="button" mat-raised-button>
                  75%
                </button>
                <div style="width: 1rem;">
                </div>
                <button [disabled]="tokenBalance === undefined  || tokenBalance === 0" (click)="setTokenPercent(100)"
                        color="primary" type="button" mat-raised-button>
                  100%
                </button>
              </div>
              <br>
              <mat-slider min="0" step="1" thumbLabel #slider (input)="onSlideToken($event)" [displayWith]="formatLabel"
                          max="100"></mat-slider>
            </mat-card>
            <br>

            <div class="liquidity-form-buttons-container">
              <button [disabled]="tokenBalance === undefined  || tokenBalance === 0 || isApproving" color="primary"
                      type="button" mat-raised-button (click)="approveToken()">
                <span *ngIf="isApproving" class="spinner-border spinner-border-sm mr-1" style="color: white"></span>
                <fa-icon *ngIf="tokenApproved" [icon]="approveButtonIcon"></fa-icon>
                {{approveButtonLabel}}
              </button>
              <button [disabled]="!tokenApproved" color="primary" type="button" mat-raised-button
                      (click)="addLiquidity()">
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1" style="color: white"></span>
                Add Liquidity
              </button>
            </div>

          </mat-card>
        </mat-tab>

        <mat-tab label="Lock Liquidity">
          <div style="height: 15px"></div>
          <mat-card class="liquidity-form-container">
            <form [formGroup]="lockLiquidityTokenAddressInputFormGroup" class="form-container">
              <mat-form-field appearance="outline" style="width: 100% !important;">
                <mat-label>Token address</mat-label>
                <input (keyup)="onLockLiquidityTokenAddressKeyup()" matInput maxlength="42"
                       placeholder="e.g. 0xB06a4327FF7dB3D82b51bbD692063E9a180b79D9"
                       formControlName="lockLiquidityTokenAddress">
                <mat-error
                  *ngIf="!lockLiquidityTokenAddressInputFormGroup.controls['lockLiquidityTokenAddress'].valid && lockLiquidityTokenAddressInputFormGroup.controls['lockLiquidityTokenAddress'].touched">
                  This field required
                </mat-error>
              </mat-form-field>
            </form>
            <mat-card *ngIf="myLocks.length > 0">
              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <h4>My locks</h4>
                  </div>
                </div>
                <div style="width: 15px"></div>
                <mat-card class="row" *ngFor="let lock of myLocks" style="margin-bottom: 15px">
                  <div class="col-sm">
                    <h5>Lock {{lock[2]}} - {{lock[3]}}</h5>
                  </div>
                  <div class="col-sm">
                    <button>Remove</button>
                  </div>
                </mat-card>
              </div>
            </mat-card>
            <mat-card class="lock-liquidity-form-container">
              <div class="input-label">
                <span style="font-weight: bold">LP TOKEN</span>
                <span style="font-weight: bold">{{lpTokenBalance}}</span>
              </div>

              <div class="input-label">
                <input [(ngModel)]="lockLiquidityForm.lpAmount" appTwoDigitDecimaNumber matInput maxlength="18"
                       placeholder="e.g. 1000" (keyup)="tokenInputKeyUp()">
                <button color="primary" type="button" mat-raised-button>
                  Max
                </button>
              </div>
              <br>
              <mat-slider min="0" step="1" thumbLabel (input)="onSlideLockLP($event)" [displayWith]="formatLabel"
                          max="100">
              </mat-slider>
            </mat-card>
            <br>
            <mat-card class="lock-liquidity-form-container">
              <div class="input-label">
                <span style="font-weight: bold">
                  <angular-emojis [name]="'clock1'" size="25"></angular-emojis> Timelock
                </span>
              </div>

              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Input & change events"
                       (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

            </mat-card>
            <br>
            <button color="primary" type="button" mat-raised-button
                    (click)="lockLiquidity(this.lockLiquidityTokenAddressInputFormGroup.controls.lockLiquidityTokenAddress.value,
               this.lockLiquidityForm.locktime, lockLiquidityForm.lpAmount)">
              <angular-emojis [name]="'lock'" size="25"></angular-emojis>
              Lock Liquidity
            </button>
          </mat-card>
        </mat-tab>


        <mat-tab label="Burn Tokens">
          <div style="height: 15px"></div>
          <mat-card class="liquidity-form-container">
            <form [formGroup]="burnTokenAddressInputFormGroup" class="form-container">
              <mat-form-field appearance="outline" style="width: 100% !important;">
                <mat-label>Token address</mat-label>
                <input (keyup)="burnTokenInputKeyUp()" matInput maxlength="42"
                       placeholder="e.g. 0xB06a4327FF7dB3D82b51bbD692063E9a180b79D9" formControlName="burnTokenAddress">
                <mat-error
                  *ngIf="!burnTokenAddressInputFormGroup.controls['burnTokenAddress'].valid && burnTokenAddressInputFormGroup.controls['burnTokenAddress'].touched">
                  This field required
                </mat-error>
              </mat-form-field>
            </form>
            <mat-card class="lock-liquidity-form-container">
              <div class="input-label">
                <span style="font-weight: bold">TOKEN</span>
                <span style="font-weight: bold">{{tokenBalance}}</span>
              </div>
              <br>
              <div class="input-label">
                <input [(ngModel)]="burnTokenForm.amount" appTwoDigitDecimaNumber matInput maxlength="16"
                       placeholder="e.g. 1000">
                <button color="primary" type="button" mat-raised-button>
                  Max
                </button>
              </div>
              <br>
              <mat-slider min="0" step="1" thumbLabel (input)="onSlideBurn($event)" [displayWith]="formatLabel"
                          max="100">
              </mat-slider>
            </mat-card>
            <br>
            <button class="burnButton" id="burnButton" color="primary" type="button" mat-raised-button
                    (click)="burnTokens()">
              <angular-emojis [name]="'fire'" size="25"></angular-emojis>
              Burn
            </button>
          </mat-card>
        </mat-tab>

        <mat-tab label="Whitelist/Blacklist">
          <div style="height: 15px"></div>
          <mat-card class="liquidity-form-container">
            <div style="height: 15px"></div>
            <mat-card>
              <h3>WHITELIST</h3>
              <form [formGroup]="whitelistInputFormGroup" class="form-container">
                <mat-form-field appearance="outline" style="width: 100% !important;">
                  <mat-label>Token address</mat-label>
                  <input matInput maxlength="42"
                         placeholder="e.g. 0xB06a4327FF7dB3D82b51bbD692063E9a180b79D9"
                         formControlName="whitelistAddress">
                  <mat-hint align="end">{{whitelistInputFormGroup.controls['whitelistAddress'].value?.length || 0}}
                    /42
                  </mat-hint>
                  <mat-error
                    *ngIf="!whitelistInputFormGroup.controls['whitelistAddress'].valid && whitelistInputFormGroup.controls['whitelistAddress'].touched">
                    This field required
                  </mat-error>
                  <mat-hint class="mat-hints">
                    <mat-icon>info</mat-icon>
                    Enter the token address
                  </mat-hint>
                </mat-form-field>
              </form>
              <br>

              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <form [formGroup]="whitelistInputFormGroup" class="form-container">
                      <mat-form-field appearance="outline" style="width: 100% !important;">
                        <mat-label>Wallet address</mat-label>
                        <input matInput maxlength="42"
                               placeholder="e.g. 0xB06a4327FF7dB3D82b51bbD692063E9a180b79D9"
                               formControlName="whitelistAddress">
                        <mat-hint
                          align="end">{{whitelistInputFormGroup.controls['whitelistAddress'].value?.length || 0}}
                          /42
                        </mat-hint>
                        <mat-error
                          *ngIf="!whitelistInputFormGroup.controls['whitelistAddress'].valid && whitelistInputFormGroup.controls['whitelistAddress'].touched">
                          This field required
                        </mat-error>
                        <mat-hint class="mat-hints">
                          <mat-icon>info</mat-icon>
                          Enter the wallet address
                        </mat-hint>
                      </mat-form-field>
                    </form>
                  </div>
                  <div class="col-sm">
                    <button class="whitelistButton" id="whitelistButton" color="primary" type="button" mat-raised-button
                            (click)="addWhitelist()">
                      <angular-emojis [name]="'save'" size="25"></angular-emojis>
                      Add to Whitelist
                    </button>
                  </div>
                </div>
              </div>

              <br>
              <mat-card *ngFor="let element of whitelistContent" class="whitelist-form-container"
                        style="margin-top: 15px">
                <div class="container">
                  <div class="row">
                    <div class="col-sm">
                      <span style="font-weight: bold">{{element}}</span>
                    </div>
                    <div class="col-sm">
                      <button (click)="deleteFromWhitelist(element)">Delete</button>
                    </div>
                  </div>
                </div>
              </mat-card>
            </mat-card>
            <div style="height: 15px"></div>

            <mat-card>
              <h3>BLACKLIST</h3>
              <div style="height: 15px"></div>


              <div class="container">
                <div class="row">
                  <div class="col-sm">
                    <form [formGroup]="whitelistInputFormGroup" class="form-container">
                      <mat-form-field appearance="outline">
                        <mat-label>Wallet address</mat-label>
                        <input matInput maxlength="42"
                               placeholder="e.g. 0xB06a4327FF7dB3D82b51bbD692063E9a180b79D9"
                               formControlName="whitelistAddress">
                        <mat-hint
                          align="end">{{whitelistInputFormGroup.controls['whitelistAddress'].value?.length || 0}}
                          /42
                        </mat-hint>
                        <mat-error
                          *ngIf="!whitelistInputFormGroup.controls['whitelistAddress'].valid && whitelistInputFormGroup.controls['whitelistAddress'].touched">
                          This field required
                        </mat-error>
                        <mat-hint class="mat-hints">
                          <mat-icon>info</mat-icon>
                          Enter the wallet address
                        </mat-hint>
                      </mat-form-field>
                    </form>
                  </div>
                  <div class="col-sm">
                    <button class="blacklistButton" id="blacklistButton" color="primary" type="button" mat-raised-button
                            (click)="addBlacklist()">
                      <angular-emojis [name]="'save'" size="25"></angular-emojis>
                      Add to blacklist
                    </button>
                  </div>
                </div>
              </div>

              <br>
              <mat-card *ngFor="let element of blacklistContent" class="whitelist-form-container"
                        style="margin-top: 15px">
                <div class="input-label">
                  <span style="font-weight: bold">{{element}}</span>
                  <button (click)="deleteFromBlacklist(element)">Delete</button>
                </div>
              </mat-card>
            </mat-card>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

