/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background: #171717;
}

button:focus {
  outline: none;
  box-shadow: none;
}

* {
  font-family: "Montserrat", sans-serif;
}

mat-icon {
  size: 0.6rem !important;
  margin-right: 4px;
}


/* SNACKBARS  --------------------------------------------------------------------------------------------------------*/
/* snackbar background colors */
.background-green {
  background-color: #00C851;
}

.background-blue {
  background-color: #03A9F4;
}

.background-red {
  background-color: #ff4444;
}

.background-yellow {
  background-color: #FFA900;
}


.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: white !important;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  margin-bottom: 20px;
}

.mat-slider-thumb {
  background-color: #39C0ED !important;
}

.mat-slider-thumb-label {
  background-color: #212121 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background: linear-gradient(-45deg, #ee7752, #ff79ab, #47cfff, #23d5ab) !important;
  border-radius: 16px !important;
}

.mat-form-field-underline {
  //display: none !important;
}

.my-select-panel-class {
  margin-top: 2.5rem !important;
  background-color: #444444;
  border-radius: 16px !important;
}

mat-expansion-panel-header {
  color: #39C0ED;
}

.multiple {
  background: linear-gradient(-45deg, #ee7752, #ff79ab, #47cfff, #23d5ab) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  font-weight: bold;
}

.mat-slider-track-fill {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !important;
}

.mat-custom-nav {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) !important;
  width: 98% !important;
  border-radius: 16px !important;
  margin: auto !important;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.percentButton {
  font-weight: bold;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #6dd7f5;;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #39C0ED;
}
